@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:400,700");
* { box-sizing: border-box; }

body { background: #2c3e50; padding-top: 20px; font-family: 'Roboto', sans-serif; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-direction: column; flex-direction: column; }

.container { margin: 0 auto; padding: 50px; padding-top: 20px; max-width: 750px; background: #fff; border-radius: 15px; text-align: center; }

.container h1 { font-family: 'Indie Flower', cursive; font-size: 40px; }

.container .title { font-weight: 700; padding-top: 20px; font-size: 25px; }

.container .text { font-size: 18px; line-height: 25px; }

.container span { font-style: italic; }

footer { text-align: center; color: #fff; padding: 20px 0; }
